﻿@model CalculatorApi.Models.CalculatorViewModel

@{
    ViewData["Title"] = "Calculator";
}

<div class="box">
    <form method="post">
        <div class="heading">
            <h2>Simple Calculator</h2>
        </div>

        <div class="text-center">
            <label asp-for="FirstNo"></label>
            <input type="text" asp-for="FirstNo"><br>
            <label asp-for="SecondNo"></label>
            <input asp-for="SecondNo"><br>
            <label asp-for="Result"></label>


            <label asp-for="Result"> @Model.Result</label><br />
            <button type="submit" id="add" value="add" class="btn btn-info" name="calculate">Add</button>
            <button type="submit" id="sub" value="sub" class="btn btn-success" name="calculate">Subtract</button>
            <button type="submit" id="mul" value="mul" class="btn btn-danger" name="calculate">Multiply</button>
            <button type="submit" id="div" value="div" class="btn btn-danger" name="calculate">Division</button>

        </div>
    </form>
</div>