﻿// Stylesheet
body
{
    margin:10px;
    padding:10px;
    font-family:'Gill Sans';
}


.heading {

    text-align: center;
    margin-bottom: 23px;
    color: bisque;
    color:rgb(69, 141, 10); 
    font-size:50px;  
    font-weight:bold;
    
}
.box {
    width: 45%;
    /*height: fit-content();*/
    margin: auto;
    border: 2px solid #dbd1c4;
    border-radius: 5px;
    font-weight:bold;
}

.box2 {
    width: 60%;
    
    /*height: fit-content();*/
    margin: auto;
    border: 10px solid #dbd1c4;
    border-radius: 5px;
    font-weight:bold;
    padding:40px;
}

table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form {
padding:40px;
font-weight:bold;

}


.form-check-input:checked {
    background-color: bisque;
    border-color: bisque;
}

form div.form-action-buttons {
    text-align: right;
}