﻿
@{
    ViewData["Title"] = "Registration";
}

<!DOCTYPE html>
<html>

<head>
    <title>
        Form
    </title>
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <td>
        <div class="box">
            <form onsubmit="event.preventDefault();onFormSubmit();">
                <div class="heading">
                    <h2>REGISTRATION FORM</h2>
                </div>
                <div>
                    <label>Full Name*</label><label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
                    <input type="text" name="fullName" id="fullName">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" name="empCode" id="empCode">
                </div>
                <div>
                    <label>Mobile No</label>
                    <input type="text" name="salary" id="salary">
                </div>
                <div>
                    <label>Address</label>
                    <input type="text" name="city" id="city">
                </div>
                <div>
                    <label>Password</label>
                    <input type="text" name="password" id="password">
                </div>
                <div class="form-action-buttons">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </td><br>
    <td>
        <div class="box2">
            <div class="heading">
                <h2>DataBase</h2>
            </div>
            <table class="list" id="employeeList">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </td>
    </tr>
    </table>
    <script src="script.js"></script>
</body>

</html>

