﻿
<script type="text/javascript" src="~/js/site.js"></script>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Student
@{
    ViewBag.Title = "Registration";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" \
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <script type="text/javascript" src="site.js"></script>


</head>
<body>

    <div class="box">
        <div class="heading">
            <h2>REGISTRATION FORM</h2>
        </div>
        @using (Html.BeginForm("SubmitData", "Home", FormMethod.Post))
        {
            <div class="form-group">


                @Html.Label("First Name")
                @Html.Label("*")

                <div class="col-12">
                    @Html.TextBox("txt1", "", new { @class = "form-control", @placeholder = "Enter First Name", @required = "required" })
                    <span id="username" class="text-danger font-weight-bold"></span>
                </div>
            </div>
            <div class="form-group">


                @Html.Label("Middle Name")
                <div class="col-12">
                    @Html.TextBox("txt2", "", new { @class = "form-control", @placeholder = "Enter Middle Name" })
                </div>
            </div>

            <div class="form-group">


                @Html.Label("Last Name")
                @Html.Label("*")
                <div class="col-12">
                    @Html.TextBox("txt3", "", new { @class = "form-control", @placeholder = "Enter Last name", @required = "required" })
                    <span id="lName" class="text-danger font-weight-bold"></span>
                </div>
            </div>


            <div class="form-group">

                @Html.Label("Email address")
                @Html.Label("*")
                <div class="col-12">
                    @Html.TextBox("txt4", "", new { @class = "form-control", @placeholder = "Enter Email Address", @required = "required" })
                    <span id="emaill" class="text-danger font-weight-bold"></span>
                </div>

            </div>

            <div class="form-group">

                @Html.Label("Password")
                @Html.Label("*")
                <div class="col-12">
                    @Html.TextBox("txt5", "", new { @class = "form-control", @placeholder = "Enter Password", @required = "required" })
                    <span id="pass" class="text-danger font-weight-bold"></span>
                </div>

            </div>
            <div class="form-group">

                @Html.Label("Confirm Password")
                @Html.Label("*")
                <div class="col-12">

                    @Html.TextBox("txt6", "", new { @class = "form-control", @placeholder = "Confirm Password", @required = "required" })
                    <span id="cPass" class="text-danger font-weight-bold"></span>
                </div>



            </div>
            <div class="form-group">

                @Html.Label("Mobile No")
                @Html.Label("*")
                <div class="col-12">
                    @Html.TextBox("txt7", "", new { @class = "form-control", @placeholder = "Enter Mobile No", @required = "required" })
                    <span id="tel" class="text-danger font-weight-bold"></span>
                </div>

            </div>

            <div class="form-group">
                @Html.Label("Address")
                @Html.Label("*")
                <div class="col-12">
                    @Html.TextBox("txt8", "", new { @class = "form-control", @placeholder = "Enter Address", @required = "required" })
                    <span id="addr" class="text-danger font-weight-bold"></span>
                </div>
            </div><br>
            @Html.Label("Level of Education")
            @Html.DropDownList("StateList", new List<SelectListItem> { new SelectListItem { Text = "10th", Value = "1" },
           new SelectListItem { Text = "12th", Value = "2" },
            new SelectListItem { Text = "Graduation", Value = "3" },
            new SelectListItem { Text = "Masters", Value = "4" },
            new SelectListItem { Text = "Ph.D", Value = "5" }}, "--Select--", new { @class = "form-control", @required = "required" })
            <input type="hidden" name="hidden1" id="hidden1" value="" />
            <br><br>

            @Html.Label("Gender")
            @Html.RadioButton("gender", "male", new { @class = "myclass1" })@Html.Label("Male")
            @Html.RadioButton("gender", "female")@Html.Label("Female")
            @Html.RadioButton("gender", "other")@Html.Label("other")<br>



            @Html.Label("Subscribe for Email Updates")
            <input type="checkbox" name="name1" value="" />


            <div class="text-center">
                <button type="submit" onclick="return Validate()" class="btn btn-success">Register</button>
                <button type="button" onclick="myFunction()" class="btn btn-dark">Reset</button>
            </div>



        }
    </div>
</body>
</html>



