﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using RegistrationForm.Models
@{
    ViewBag.Title = "ShowData";
    Student obj2 = ((Student)TempData["Data"]);
}

<h2>ShowData</h2>
@*<h4>Name : @TempData["Name"]</h4>
    <h4>Email : @TempData["Email"]</h4>*@


<h4>First Name : @obj2.fName</h4>
<h4>Middle Name : @obj2.mName</h4>
<h4>Last Name : @obj2.lName</h4>
<h4>Email : @obj2.email</h4>
<h4> Password: @obj2.password</h4>
<h4>Mobile No : @obj2.mobile</h4>
<h4>Address : @obj2.address</h4>
<h4>Education : @obj2.education</h4>
<h4>Gender : @obj2.gender</h4>