﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Registration Form</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" \
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="site.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="site.js"></script>


</head>
<body>
    <div class="box">
        <form name="form" id="myForm">
            <div class="heading">
                <h2>REGISTRATION FORM</h2>
            </div>

            <div class="form-group">

                <label for="ex3">First Name:</label>
                <label style="color:red;">*</label>
                <div class="col-12">
                    <input type="text" name="firstname" class="form-control text" id="ex3" placeholder="Enter First Name">
                    <span id="username" class="text-danger font-weight-bold"></span>
                </div>
            </div>
            <div class="form-group">

                <label for="usr">Middle Name:</label>
                <div class="col-12">
                    <input type="text" name="Mname" class="form-control" id="usr1" placeholder="Enter Middle Name">
                </div>
            </div>

            <div class="form-group">

                <label for="usr">Last Name:</label>
                <label style="color:red;">*</label><br>
                <div class="col-12">
                    <input type="text" name="lastname" class="form-control" id="usr2" placeholder="Enter Last Name">
                    <span id="lName" class="text-danger font-weight-bold"></span>
                </div>
            </div>


            <div class="form-group">

                <label for="email">Email address:</label>
                <label style="color:red;">*</label><br>
                <div class="col-12">
                    <input type="email" name="emaill" class="form-control" id="Email" placeholder="Enter email">
                    <span id="emaill" class="text-danger font-weight-bold"></span>
                </div>

            </div>

            <div class="form-group">

                <label for="exampleInputPassword1">Password</label>
                <label style="color:red;">*</label><br>
                <div class="col-12">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <span id="pass" class="text-danger font-weight-bold"></span>
                </div>

                <small id="passwordHelpBlock" class="form-text text-muted">

            </div>
            <div class="form-group">

                <label for="exampleInputPassword2">Confirm Password</label>
                <label style="color:red;">*</label><br>
                <div class="col-12">
                    <input type="password" name="cpassword" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    <span id="cPass" class="text-danger font-weight-bold"></span>
                </div>

                <small id="passwordHelpBlock" class="form-text text-muted">

            </div>
            <div class="form-group">

                <label for="usr">Moible.No:</label>
                <label style="color:red;">*</label><br>
                <div class="col-12">
                    <input type="mob" name="mobile" class="form-control" id="usr" placeholder="Enter Mobile Number">
                    <span id="tel" class="text-danger font-weight-bold"></span>
                </div>

            </div>

            <div class="form-group">

                <label for="exampleFormControlTextarea1">Address:</label>
                <label style="color:red;">*</label><br>
                <div class="col-12">
                    <textarea class="form-control" name="address" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <span id="addr" class="text-danger font-weight-bold"></span>
                </div>
            </div><br>
            <label>Choose a Level of Education:</label>
            <label style="color:red;">*</label>
            <select id="Education" name="Education">
                <br>
                <option value="none" selected disabled hidden>Select an Option</option>
                <option value="10th">10th</option>
                <option value="12th">12th</option>
                <option value="Graduation">Graduation</option>
                <option value="Masters">Masters</option>
                <option value="Ph,D">ph.D</option>
            </select><br><br>

            <label>Gender:</label>
            <label style="color:red;">*</label>
            <input type="radio" id="male" name="gender" value="male">
            <label>Male</label>
            <input type="radio" id="female" name="gender" value="female">
            <label>Female</label>
            <input type="radio" id="other" name="gender" value="other">
            <label>Other</label><br><br>

            <label>Subscribe for Email Updates: </label>
            <input type="checkbox" id="email" name="email"><br><br>


            <div class="text-center">

                <button type="submit" onclick="return Validate()" class="btn btn-success">Register</button>
                <button type="button" onclick="myFunction()" class="btn btn-dark">Reset</button>
            </div>


        </form>
    </div><br>

    <div class="box2">
        <div class="heading">
            <h2>DataBase</h2>
        </div>

        <!--me, Email, Mobile, Gender, Higher Education, Subscribed for Email Updates, Address, Action.-->
        <div class="table-responsive">
            <table id="myTable" class="Table">
                <thead>
                    <tr class="tr-header">
                       
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Education</th>
                        <th>Gender</th>
                        


                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table><br>
            <button type="button" onclick="myDeleteFunction()" class="btn btn-dark">Delete</button>


        </div>

    </div><br><br>
    
</body>
</html>

