﻿@model WebApplicationAreas.Models.StudentModel

@{
    ViewData["Title"] = "Student";
}

<h1>StudentView</h1>

<h4>StudentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Student" onsubmit="event.preventDefault();onFormSubmit();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label">Mobile no</label>
                <input type="number" asp-for="Mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Age</label>
                <input type="number" asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input type="text" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-action-buttons">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>
<div>
    Name: @ViewBag.Name
</div>
<div>
    Email: @ViewBag.Email
</div>
<div>
    Mobile: @ViewBag.Mobile
</div>
<div>
    Age: @ViewBag.Age
</div>
<div>
    Address: @ViewBag.Address
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
