﻿@model EntityFrameworkDb.Models.tblEmployee

@{
    ViewData["Title"] = "create";
}

<h1>create</h1>

<h4>tblEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillID" class="control-label"></label>
                <input asp-for="SkillID" class="form-control" />
                <span asp-validation-for="SkillID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearsExperience" class="control-label"></label>
                <input asp-for="YearsExperience" class="form-control" />
                <span asp-validation-for="YearsExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
